@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --light-gradient: #4937f0;
  --dark-gradient: #9244f0;
  --light-gray: #dddddd;
  --dark-gray: #a3a3a3;
  --white: #ffffff;
  --purple: #7b38f9;
  --text: #343232;
  --dark-pink: #fd6e6d;
  --light-pink: #ffe2e2;
  --gold: #ffc107;
  --body-color: #fbfbfd;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page {
  padding: 5.5rem 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
